## Indexes wollen wir nicht
Options -Indexes +FollowSymLinks

## an uns soll niemand ran
<FilesMatch "\.\w+">
    Deny from all
</FilesMatch>
<Files wrapper.php>
    Allow from all
</Files>
<Files index.html>
    Allow from all
</Files>
<FilesMatch "\.(css|js|gif|jpg|jpeg)">
    Allow from all
</FilesMatch>

# die Folgenden 2 Files Sektionen nach der installation auskommentieren
<Files install.php>
    Allow from all
</Files>
<Files copyfromtic.php>
    Allow from all
</Files>

## Schöne URLs aktivieren
RewriteEngine on
RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_FILENAME}       !-d
RewriteRule ([0-9]{1,4}):([0-9]{1,2})     ./wrapper.php?mod=Scan&gala=$1&planet=$2&scanSearch=1  [QSA,L]
RewriteRule mod:(.*)                  ./wrapper.php?mod=$1  [QSA,L]

## Wir geben nur UTF-8 aus
AddDefaultCharset UTF-8
